@import "tailwindcss";


body{
    font-family: "Cairo", sans-serif;
}



@theme{
    --color-mainColor :rgba(5, 137, 62, 1);
    --color-secondColor : rgba(243, 244, 246, 1);
}




@utility container{
    margin : auto
}



@layer components{
    .btn{
        @apply rounded-md text-white px-3 py-1
    }
}