@import "tailwindcss";


body{
    font-family: "Cairo", sans-serif;
}



@theme{
    --color-mainColor :#0aad0a;
    --color-secondColor : rgba(243, 244, 246, 1);
    --color-thirdColor :rgba(86, 93, 109, 1);
}




@utility container{
    margin : auto
}



@layer components{
    .btn{
        @apply rounded-md text-white px-15 py-2 border-2 border-thirdColor
    }
}